<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02 – Business Capability Map</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02 &#8211; Business Capability Map</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/view-capabilities.png" alt="02 – Business Capability Map" usemap="#view-capabilitiesmap"/>
			   <map name="view-capabilitiesmap">
				  		<area shape="rect" coords="1066,250,1266,305" href="../elements/p-cross.html"  target="element">
				  		<area shape="rect" coords="1342,658,1542,713" href="../elements/p-gasdist.html"  target="element">
				  		<area shape="rect" coords="1162,574,1362,629" href="../elements/p-lrs.html"  target="element">
				  		<area shape="rect" coords="130,184,330,239" href="../elements/p-ugs.html"  target="element">
				  		<area shape="rect" coords="958,502,1158,557" href="../elements/p-trans.html"  target="element">
				  		<area shape="rect" coords="742,418,942,473" href="../elements/p-prod.html"  target="element">
				  		<area shape="rect" coords="514,334,714,389" href="../elements/p-drill.html"  target="element">
				  		<area shape="rect" coords="262,280,462,335" href="../elements/p-expl.html"  target="element">
				  		<area shape="rect" coords="10,262,210,317" href="../elements/p-search.html"  target="element">
				  		<area shape="rect" coords="1054,94,1254,154" href="../elements/cap-cross.html"  target="element">
				  		<area shape="rect" coords="690,98,890,158" href="../elements/cap-energy.html"  target="element">
				  		<area shape="rect" coords="1330,94,1530,154" href="../elements/cap-gasdist.html"  target="element">
				  		<area shape="rect" coords="1174,10,1374,70" href="../elements/cap-lrs.html"  target="element">
				  		<area shape="rect" coords="142,98,342,158" href="../elements/cap-ugs.html"  target="element">
				  		<area shape="rect" coords="910,18,1110,78" href="../elements/cap-trans.html"  target="element">
				  		<area shape="rect" coords="690,18,890,78" href="../elements/cap-prod.html"  target="element">
				  		<area shape="rect" coords="478,94,678,154" href="../elements/cap-drill.html"  target="element">
				  		<area shape="rect" coords="250,18,450,78" href="../elements/cap-expl.html"  target="element">
				  		<area shape="rect" coords="30,18,230,78" href="../elements/cap-search.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/cap-search.html" target="element"> Search and Prospecting </a> </td>
											    <td> <a href="../elements/cap-search.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cap-expl.html" target="element"> Exploration and Field Development </a> </td>
											    <td> <a href="../elements/cap-expl.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cap-drill.html" target="element"> Drilling </a> </td>
											    <td> <a href="../elements/cap-drill.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cap-prod.html" target="element"> Production and Monitoring </a> </td>
											    <td> <a href="../elements/cap-prod.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cap-trans.html" target="element"> Pipeline Transportation </a> </td>
											    <td> <a href="../elements/cap-trans.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cap-ugs.html" target="element"> Underground Gas Storage </a> </td>
											    <td> <a href="../elements/cap-ugs.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cap-lrs.html" target="element"> Logistics, Refining and Sales </a> </td>
											    <td> <a href="../elements/cap-lrs.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cap-gasdist.html" target="element"> Gas Distribution </a> </td>
											    <td> <a href="../elements/cap-gasdist.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cap-energy.html" target="element"> Energy Management </a> </td>
											    <td> <a href="../elements/cap-energy.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cap-cross.html" target="element"> Cross-Functional Operations </a> </td>
											    <td> <a href="../elements/cap-cross.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/p-search.html" target="element"> Search and Prospecting </a> </td>
											    <td> <a href="../elements/p-search.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/p-expl.html" target="element"> Exploration and Field Development </a> </td>
											    <td> <a href="../elements/p-expl.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/p-drill.html" target="element"> Drilling </a> </td>
											    <td> <a href="../elements/p-drill.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/p-prod.html" target="element"> Production and Monitoring </a> </td>
											    <td> <a href="../elements/p-prod.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/p-trans.html" target="element"> Transportation </a> </td>
											    <td> <a href="../elements/p-trans.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/p-ugs.html" target="element"> Underground Gas Storage </a> </td>
											    <td> <a href="../elements/p-ugs.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/p-lrs.html" target="element"> Logistics, Refining and Sales </a> </td>
											    <td> <a href="../elements/p-lrs.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/p-gasdist.html" target="element"> Gas Distribution </a> </td>
											    <td> <a href="../elements/p-gasdist.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/p-cross.html" target="element"> Cross-Functional Operations </a> </td>
											    <td> <a href="../elements/p-cross.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/r-vc1.html" target="element">  </a> </td>
																		<td> <a href="../elements/r-vc1.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/p-search.html" target="element"> Search and Prospecting </a> </td>
																		<td> <a href="../elements/p-expl.html" target="element"> Exploration and Field Development </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/rcap1.html" target="element">  </a> </td>
																		<td> <a href="../elements/rcap1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/p-search.html" target="element"> Search and Prospecting </a> </td>
																		<td> <a href="../elements/cap-search.html" target="element"> Search and Prospecting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/r-vc2.html" target="element">  </a> </td>
																		<td> <a href="../elements/r-vc2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/p-expl.html" target="element"> Exploration and Field Development </a> </td>
																		<td> <a href="../elements/p-drill.html" target="element"> Drilling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/rcap2.html" target="element">  </a> </td>
																		<td> <a href="../elements/rcap2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/p-expl.html" target="element"> Exploration and Field Development </a> </td>
																		<td> <a href="../elements/cap-expl.html" target="element"> Exploration and Field Development </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/r-vc3.html" target="element">  </a> </td>
																		<td> <a href="../elements/r-vc3.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/p-drill.html" target="element"> Drilling </a> </td>
																		<td> <a href="../elements/p-prod.html" target="element"> Production and Monitoring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/rcap3.html" target="element">  </a> </td>
																		<td> <a href="../elements/rcap3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/p-drill.html" target="element"> Drilling </a> </td>
																		<td> <a href="../elements/cap-drill.html" target="element"> Drilling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/r-vc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/r-vc4.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/p-prod.html" target="element"> Production and Monitoring </a> </td>
																		<td> <a href="../elements/p-trans.html" target="element"> Transportation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/rcap4.html" target="element">  </a> </td>
																		<td> <a href="../elements/rcap4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/p-prod.html" target="element"> Production and Monitoring </a> </td>
																		<td> <a href="../elements/cap-prod.html" target="element"> Production and Monitoring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/r-vc5.html" target="element">  </a> </td>
																		<td> <a href="../elements/r-vc5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/p-trans.html" target="element"> Transportation </a> </td>
																		<td> <a href="../elements/p-lrs.html" target="element"> Logistics, Refining and Sales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/rcap5.html" target="element">  </a> </td>
																		<td> <a href="../elements/rcap5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/p-trans.html" target="element"> Transportation </a> </td>
																		<td> <a href="../elements/cap-trans.html" target="element"> Pipeline Transportation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/rcap6.html" target="element">  </a> </td>
																		<td> <a href="../elements/rcap6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/p-ugs.html" target="element"> Underground Gas Storage </a> </td>
																		<td> <a href="../elements/cap-ugs.html" target="element"> Underground Gas Storage </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/r-vc6.html" target="element">  </a> </td>
																		<td> <a href="../elements/r-vc6.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/p-lrs.html" target="element"> Logistics, Refining and Sales </a> </td>
																		<td> <a href="../elements/p-gasdist.html" target="element"> Gas Distribution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/rcap7.html" target="element">  </a> </td>
																		<td> <a href="../elements/rcap7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/p-lrs.html" target="element"> Logistics, Refining and Sales </a> </td>
																		<td> <a href="../elements/cap-lrs.html" target="element"> Logistics, Refining and Sales </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/rcap8.html" target="element">  </a> </td>
																		<td> <a href="../elements/rcap8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/p-gasdist.html" target="element"> Gas Distribution </a> </td>
																		<td> <a href="../elements/cap-gasdist.html" target="element"> Gas Distribution </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/rcap9.html" target="element">  </a> </td>
																		<td> <a href="../elements/rcap9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/p-cross.html" target="element"> Cross-Functional Operations </a> </td>
																		<td> <a href="../elements/cap-cross.html" target="element"> Cross-Functional Operations </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>