<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>System Landscape Diagram</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>System Landscape Diagram</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5262b44c-15ca-4fe4-bbcd-07ffc7999a74.png" alt="System Landscape Diagram" usemap="#id-5262b44c-15ca-4fe4-bbcd-07ffc7999a74map"/>
			   <map name="id-5262b44c-15ca-4fe4-bbcd-07ffc7999a74map">
				          <area shape="rect" coords="22,898,1463,1007" href="../objects/id-2d23b753-2e99-4ff8-89e8-2719fd455877.html" target="element" >
				  		        <area shape="rect" coords="1480,923,1491,1044" href="../objects/id-58875442-abd6-46f3-ab01-39fd429b0e54.html" target="element" >
				  		        <area shape="rect" coords="1738,918,1749,1039" href="../objects/id-3b2c120d-f317-4936-a9b7-e1d9951e3d23.html" target="element" >
				  		        <area shape="rect" coords="1802,963,2083,994" href="../objects/e406fbe0-b63d-4225-964e-8204858d6736.html" target="element" >
				  		        <area shape="rect" coords="1762,963,1793,994" href="../objects/c09b1a56-b5e1-48cf-b8d7-66b72cac374f.html" target="element" >
				  		        <area shape="rect" coords="1762,923,1793,954" href="../objects/id-4f5a9638-2a3c-45e8-ab41-777c713a5eb2.html" target="element" >
				  		        <area shape="rect" coords="1802,923,2083,954" href="../objects/a05c4055-df8e-4589-9ae6-cdc55876d967.html" target="element" >

				          <area shape="rect" coords="1474,898,2063,1007" href="../objects/b581e72e-b456-4427-9c4c-98d5fde73c8e.html" target="element" >
				  				        <area shape="rect" coords="1846,471,2015,563" href="../objects/id-6d9eccfc-3e32-43d0-8bfd-3e06207f6c3f.html" target="element" >

				  				<area shape="rect" coords="1846,430,2015,563" href="../elements/id-074d0f0d-a9fa-4532-8ba9-422727a54d80.html"  target="element">

				          <area shape="rect" coords="1834,310,2027,575" href="../objects/id-8c17b1c1-03c7-47c8-aa77-3ae578610ec9.html" target="element" >
				  				        <area shape="rect" coords="1894,178,2063,263" href="../objects/id-9b62933c-5933-491d-abf2-53bad1785e2f.html" target="element" >

				  				<area shape="rect" coords="1894,130,2063,263" href="../elements/a842d71b-a1e9-40c7-a2ae-9150d2f45a5c.html"  target="element">

				          <area shape="rect" coords="1882,10,2075,275" href="../objects/id-919a3350-fda4-483f-af53-aa7b5c8a43a8.html" target="element" >
				  				        <area shape="rect" coords="22,394,191,479" href="../objects/f210b6b8-3808-47cd-9e14-02269685e750.html" target="element" >

				  				<area shape="rect" coords="22,346,191,479" href="../elements/cab77de8-6529-4a83-b3cf-22912e83a745.html"  target="element">

				          <area shape="rect" coords="10,226,203,491" href="../objects/c284e470-4b96-4099-9863-370cc805401d.html" target="element" >
				  		        <area shape="rect" coords="778,766,1151,875" href="../objects/id-0eaa8bc3-79f6-4263-81ba-9e420a699ae6.html" target="element" >

				  		<area shape="rect" coords="322,742,1607,875" href="../elements/id-14ea2143-1188-49a1-84d3-f51370a4dc66.html"  target="element">
				  				        <area shape="rect" coords="322,202,479,347" href="../objects/id-20af644a-382f-4cbe-85b8-39bbd4a5b743.html" target="element" >

				  				<area shape="rect" coords="322,142,479,347" href="../elements/f5267e9e-21da-49fc-b778-15cf35c45ef6.html"  target="element">
				  				        <area shape="rect" coords="682,490,839,635" href="../objects/id-45d8c68f-aa9a-48fb-b653-7f7dc71cc69c.html" target="element" >

				  				<area shape="rect" coords="682,430,839,635" href="../elements/fc453332-48a1-4a78-8920-e0b81400d3e4.html"  target="element">
				  				        <area shape="rect" coords="502,346,659,491" href="../objects/f3908551-46ce-4143-a1a2-ab80bb67a96f.html" target="element" >

				  				<area shape="rect" coords="502,286,659,491" href="../elements/b04b9b1c-2fb4-4a25-a258-4b8cd3e9bce1.html"  target="element">

				  		<area shape="rect" coords="310,82,851,671" href="../elements/id-62b9f4b2-a4e4-467f-80cb-49ed009230d6.html"  target="element">
				  				        <area shape="rect" coords="1114,445,1319,515" href="../objects/id-9e7819fb-76bb-44b3-91ea-3077ac36bfae.html" target="element" >

				  				<area shape="rect" coords="1114,406,1319,515" href="../elements/id-89ad70bf-9a0a-4788-b1c3-74c12d8bd20a.html"  target="element">
				  				        <area shape="rect" coords="1402,562,1607,659" href="../objects/b35e65f4-1d29-48c0-ba59-71f10ccc7be6.html" target="element" >

				  				<area shape="rect" coords="1402,478,1607,659" href="../elements/id-8221a1d5-6bb3-466d-aed0-1214bdb8aa80.html"  target="element">
				  				        <area shape="rect" coords="1114,574,1319,659" href="../objects/id-7798a861-efab-45d2-be94-1a829515205d.html" target="element" >

				  				<area shape="rect" coords="1114,550,1319,659" href="../elements/fa743986-612a-4283-9d00-1b566f07cfec.html"  target="element">
				  				        <area shape="rect" coords="1114,142,1319,227" href="../objects/id-926fab73-f33d-493f-980f-9ea1aab38610.html" target="element" >

				  				<area shape="rect" coords="1114,118,1319,227" href="../elements/id-44c8b7b8-1473-4537-858c-b138bd7219f7.html"  target="element">
				  				        <area shape="rect" coords="1114,286,1319,371" href="../objects/id-82da40ee-cfc8-410b-a67f-65c291511a3c.html" target="element" >

				  				<area shape="rect" coords="1114,262,1319,371" href="../elements/id-82c599ba-c29e-47e9-9378-99633a908cb8.html"  target="element">

				  		<area shape="rect" coords="1102,82,1619,671" href="../elements/id-26e6fec6-e8fa-46b1-ad66-eca9e947f7fd.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-26e6fec6-e8fa-46b1-ad66-eca9e947f7fd.html" target="element"> OPERATIONAL RISK - MASTER DATA </a> </td>
											    <td> <a href="../elements/id-26e6fec6-e8fa-46b1-ad66-eca9e947f7fd.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-82c599ba-c29e-47e9-9378-99633a908cb8.html" target="element"> Process Library </a> </td>
													    <td> <a href="../elements/id-82c599ba-c29e-47e9-9378-99633a908cb8.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-82da40ee-cfc8-410b-a67f-65c291511a3c.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-82da40ee-cfc8-410b-a67f-65c291511a3c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-44c8b7b8-1473-4537-858c-b138bd7219f7.html" target="element"> Risk Library </a> </td>
													    <td> <a href="../elements/id-44c8b7b8-1473-4537-858c-b138bd7219f7.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-926fab73-f33d-493f-980f-9ea1aab38610.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-926fab73-f33d-493f-980f-9ea1aab38610.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/fa743986-612a-4283-9d00-1b566f07cfec.html" target="element"> Organization Proxy </a> </td>
													    <td> <a href="../elements/fa743986-612a-4283-9d00-1b566f07cfec.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-7798a861-efab-45d2-be94-1a829515205d.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-7798a861-efab-45d2-be94-1a829515205d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-8221a1d5-6bb3-466d-aed0-1214bdb8aa80.html" target="element"> Bank Organization Description &amp; Management Application </a> </td>
													    <td> <a href="../elements/id-8221a1d5-6bb3-466d-aed0-1214bdb8aa80.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/b35e65f4-1d29-48c0-ba59-71f10ccc7be6.html" target="element">  </a> </td>
													           <td> <a href="../objects/b35e65f4-1d29-48c0-ba59-71f10ccc7be6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-89ad70bf-9a0a-4788-b1c3-74c12d8bd20a.html" target="element"> Accounts &amp; Profiles Management </a> </td>
													    <td> <a href="../elements/id-89ad70bf-9a0a-4788-b1c3-74c12d8bd20a.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-9e7819fb-76bb-44b3-91ea-3077ac36bfae.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-9e7819fb-76bb-44b3-91ea-3077ac36bfae.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-62b9f4b2-a4e4-467f-80cb-49ed009230d6.html" target="element"> OPERATIONAL RISK - TRANSACTIONAL APPLICATIONS </a> </td>
											    <td> <a href="../elements/id-62b9f4b2-a4e4-467f-80cb-49ed009230d6.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b04b9b1c-2fb4-4a25-a258-4b8cd3e9bce1.html" target="element"> Risk Assessment Application </a> </td>
													    <td> <a href="../elements/b04b9b1c-2fb4-4a25-a258-4b8cd3e9bce1.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/f3908551-46ce-4143-a1a2-ab80bb67a96f.html" target="element">  </a> </td>
													           <td> <a href="../objects/f3908551-46ce-4143-a1a2-ab80bb67a96f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/fc453332-48a1-4a78-8920-e0b81400d3e4.html" target="element"> Permanent Control Application </a> </td>
													    <td> <a href="../elements/fc453332-48a1-4a78-8920-e0b81400d3e4.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-45d8c68f-aa9a-48fb-b653-7f7dc71cc69c.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-45d8c68f-aa9a-48fb-b653-7f7dc71cc69c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/f5267e9e-21da-49fc-b778-15cf35c45ef6.html" target="element"> Historical Incidents Application </a> </td>
													    <td> <a href="../elements/f5267e9e-21da-49fc-b778-15cf35c45ef6.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-20af644a-382f-4cbe-85b8-39bbd4a5b743.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-20af644a-382f-4cbe-85b8-39bbd4a5b743.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-14ea2143-1188-49a1-84d3-f51370a4dc66.html" target="element"> BI &amp; Analytics </a> </td>
											    <td> <a href="../elements/id-14ea2143-1188-49a1-84d3-f51370a4dc66.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-0eaa8bc3-79f6-4263-81ba-9e420a699ae6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0eaa8bc3-79f6-4263-81ba-9e420a699ae6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/c284e470-4b96-4099-9863-370cc805401d.html" target="element"> user-circle-o </a> </td>
									           <td> <a href="../objects/c284e470-4b96-4099-9863-370cc805401d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/cab77de8-6529-4a83-b3cf-22912e83a745.html" target="element"> First Line of Defence </a> </td>
													    <td> <a href="../elements/cab77de8-6529-4a83-b3cf-22912e83a745.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/f210b6b8-3808-47cd-9e14-02269685e750.html" target="element">  </a> </td>
													           <td> <a href="../objects/f210b6b8-3808-47cd-9e14-02269685e750.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-919a3350-fda4-483f-af53-aa7b5c8a43a8.html" target="element"> user-circle-o </a> </td>
									           <td> <a href="../objects/id-919a3350-fda4-483f-af53-aa7b5c8a43a8.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/a842d71b-a1e9-40c7-a2ae-9150d2f45a5c.html" target="element"> Second Line of Defence </a> </td>
													    <td> <a href="../elements/a842d71b-a1e9-40c7-a2ae-9150d2f45a5c.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-9b62933c-5933-491d-abf2-53bad1785e2f.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-9b62933c-5933-491d-abf2-53bad1785e2f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-8c17b1c1-03c7-47c8-aa77-3ae578610ec9.html" target="element"> user-circle-o </a> </td>
									           <td> <a href="../objects/id-8c17b1c1-03c7-47c8-aa77-3ae578610ec9.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-074d0f0d-a9fa-4532-8ba9-422727a54d80.html" target="element"> Risk Back Office Administrator </a> </td>
													    <td> <a href="../elements/id-074d0f0d-a9fa-4532-8ba9-422727a54d80.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-6d9eccfc-3e32-43d0-8bfd-3e06207f6c3f.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-6d9eccfc-3e32-43d0-8bfd-3e06207f6c3f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/b581e72e-b456-4427-9c4c-98d5fde73c8e.html" target="element"> LEGEND </a> </td>
									           <td> <a href="../objects/b581e72e-b456-4427-9c4c-98d5fde73c8e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/a05c4055-df8e-4589-9ae6-cdc55876d967.html" target="element">  </a> </td>
											           <td> <a href="../objects/a05c4055-df8e-4589-9ae6-cdc55876d967.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-4f5a9638-2a3c-45e8-ab41-777c713a5eb2.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4f5a9638-2a3c-45e8-ab41-777c713a5eb2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/c09b1a56-b5e1-48cf-b8d7-66b72cac374f.html" target="element">  </a> </td>
											           <td> <a href="../objects/c09b1a56-b5e1-48cf-b8d7-66b72cac374f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/e406fbe0-b63d-4225-964e-8204858d6736.html" target="element">  </a> </td>
											           <td> <a href="../objects/e406fbe0-b63d-4225-964e-8204858d6736.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-3b2c120d-f317-4936-a9b7-e1d9951e3d23.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-3b2c120d-f317-4936-a9b7-e1d9951e3d23.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-58875442-abd6-46f3-ab01-39fd429b0e54.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-58875442-abd6-46f3-ab01-39fd429b0e54.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-2d23b753-2e99-4ff8-89e8-2719fd455877.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2d23b753-2e99-4ff8-89e8-2719fd455877.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0bcd2a83-7197-4365-ae61-175cad5846dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0bcd2a83-7197-4365-ae61-175cad5846dc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-26e6fec6-e8fa-46b1-ad66-eca9e947f7fd.html" target="element"> OPERATIONAL RISK - MASTER DATA </a> </td>
																		<td> <a href="../elements/id-82c599ba-c29e-47e9-9378-99633a908cb8.html" target="element"> Process Library </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6c8b4eea-61cc-40ec-8d30-a8e05e712995.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c8b4eea-61cc-40ec-8d30-a8e05e712995.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-26e6fec6-e8fa-46b1-ad66-eca9e947f7fd.html" target="element"> OPERATIONAL RISK - MASTER DATA </a> </td>
																		<td> <a href="../elements/id-44c8b7b8-1473-4537-858c-b138bd7219f7.html" target="element"> Risk Library </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f768eb72-dec9-471c-86b8-94ad16696288.html" target="element">  </a> </td>
																		<td> <a href="../elements/f768eb72-dec9-471c-86b8-94ad16696288.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-26e6fec6-e8fa-46b1-ad66-eca9e947f7fd.html" target="element"> OPERATIONAL RISK - MASTER DATA </a> </td>
																		<td> <a href="../elements/fa743986-612a-4283-9d00-1b566f07cfec.html" target="element"> Organization Proxy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4efd582f-9188-49a5-b788-809a3d588a93.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4efd582f-9188-49a5-b788-809a3d588a93.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-26e6fec6-e8fa-46b1-ad66-eca9e947f7fd.html" target="element"> OPERATIONAL RISK - MASTER DATA </a> </td>
																		<td> <a href="../elements/id-8221a1d5-6bb3-466d-aed0-1214bdb8aa80.html" target="element"> Bank Organization Description &amp; Management Application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0ea6f2b4-5302-4f75-bdb6-c8f8233c043f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ea6f2b4-5302-4f75-bdb6-c8f8233c043f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-26e6fec6-e8fa-46b1-ad66-eca9e947f7fd.html" target="element"> OPERATIONAL RISK - MASTER DATA </a> </td>
																		<td> <a href="../elements/id-89ad70bf-9a0a-4788-b1c3-74c12d8bd20a.html" target="element"> Accounts &amp; Profiles Management </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-3374dbf3-577c-42ad-9be4-61dc31d137e6.html" target="element"> Gets User details &amp; Roles from </a> </td>
																				<td> <a href="../elements/id-3374dbf3-577c-42ad-9be4-61dc31d137e6.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-82c599ba-c29e-47e9-9378-99633a908cb8.html" target="element"> Process Library </a> </td>
																				<td> <a href="../elements/id-89ad70bf-9a0a-4788-b1c3-74c12d8bd20a.html" target="element"> Accounts &amp; Profiles Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/cb294077-ad90-447e-87dc-c152a5971dfe.html" target="element"> Sends Processes to </a> </td>
																				<td> <a href="../elements/cb294077-ad90-447e-87dc-c152a5971dfe.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-82c599ba-c29e-47e9-9378-99633a908cb8.html" target="element"> Process Library </a> </td>
																				<td> <a href="../elements/id-14ea2143-1188-49a1-84d3-f51370a4dc66.html" target="element"> BI &amp; Analytics </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/ab88db09-c723-40f1-a28e-acd75260b407.html" target="element"> Sends Causes, Events, Conseq. to </a> </td>
																				<td> <a href="../elements/ab88db09-c723-40f1-a28e-acd75260b407.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-44c8b7b8-1473-4537-858c-b138bd7219f7.html" target="element"> Risk Library </a> </td>
																				<td> <a href="../elements/id-14ea2143-1188-49a1-84d3-f51370a4dc66.html" target="element"> BI &amp; Analytics </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2c75aba1-c3c1-425e-9b9b-748f67ab909c.html" target="element"> Gets User details &amp; Roles from </a> </td>
																				<td> <a href="../elements/id-2c75aba1-c3c1-425e-9b9b-748f67ab909c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-44c8b7b8-1473-4537-858c-b138bd7219f7.html" target="element"> Risk Library </a> </td>
																				<td> <a href="../elements/id-89ad70bf-9a0a-4788-b1c3-74c12d8bd20a.html" target="element"> Accounts &amp; Profiles Management </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-94c2ae74-acb2-45ec-8f2b-25bf51f67b4b.html" target="element"> Sends Organization as flat file to </a> </td>
																				<td> <a href="../elements/id-94c2ae74-acb2-45ec-8f2b-25bf51f67b4b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8221a1d5-6bb3-466d-aed0-1214bdb8aa80.html" target="element"> Bank Organization Description &amp; Management Application </a> </td>
																				<td> <a href="../elements/id-14ea2143-1188-49a1-84d3-f51370a4dc66.html" target="element"> BI &amp; Analytics </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/dbef88c6-f0a3-4b1e-966e-aebb0f9d4601.html" target="element"> Sends Organization as flat file to </a> </td>
																				<td> <a href="../elements/dbef88c6-f0a3-4b1e-966e-aebb0f9d4601.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8221a1d5-6bb3-466d-aed0-1214bdb8aa80.html" target="element"> Bank Organization Description &amp; Management Application </a> </td>
																				<td> <a href="../elements/fa743986-612a-4283-9d00-1b566f07cfec.html" target="element"> Organization Proxy </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-08610169-1f13-47c1-b206-6900fb3ac904.html" target="element"> Sends User Profiles to </a> </td>
																				<td> <a href="../elements/id-08610169-1f13-47c1-b206-6900fb3ac904.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-89ad70bf-9a0a-4788-b1c3-74c12d8bd20a.html" target="element"> Accounts &amp; Profiles Management </a> </td>
																				<td> <a href="../elements/id-14ea2143-1188-49a1-84d3-f51370a4dc66.html" target="element"> BI &amp; Analytics </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/cb8a5c99-4114-4840-ac81-3c162db70b19.html" target="element"> Gets Organization from </a> </td>
																				<td> <a href="../elements/cb8a5c99-4114-4840-ac81-3c162db70b19.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-89ad70bf-9a0a-4788-b1c3-74c12d8bd20a.html" target="element"> Accounts &amp; Profiles Management </a> </td>
																				<td> <a href="../elements/fa743986-612a-4283-9d00-1b566f07cfec.html" target="element"> Organization Proxy </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
																	<tr>
																		<td> <a href="../elements/e9f270c8-b902-4d69-81f4-1a3cb45533a4.html" target="element"> (all) Get list of Processes from </a> </td>
																		<td> <a href="../elements/e9f270c8-b902-4d69-81f4-1a3cb45533a4.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-62b9f4b2-a4e4-467f-80cb-49ed009230d6.html" target="element"> OPERATIONAL RISK - TRANSACTIONAL APPLICATIONS </a> </td>
																		<td> <a href="../elements/id-82c599ba-c29e-47e9-9378-99633a908cb8.html" target="element"> Process Library </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78c041a3-7b98-4137-83a5-8381593a9e90.html" target="element"> (all) Get User details &amp; Roles from </a> </td>
																		<td> <a href="../elements/id-78c041a3-7b98-4137-83a5-8381593a9e90.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-62b9f4b2-a4e4-467f-80cb-49ed009230d6.html" target="element"> OPERATIONAL RISK - TRANSACTIONAL APPLICATIONS </a> </td>
																		<td> <a href="../elements/id-89ad70bf-9a0a-4788-b1c3-74c12d8bd20a.html" target="element"> Accounts &amp; Profiles Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cf606423-c279-4392-bc02-741972c05209.html" target="element"> (all) Get Organization from </a> </td>
																		<td> <a href="../elements/cf606423-c279-4392-bc02-741972c05209.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-62b9f4b2-a4e4-467f-80cb-49ed009230d6.html" target="element"> OPERATIONAL RISK - TRANSACTIONAL APPLICATIONS </a> </td>
																		<td> <a href="../elements/fa743986-612a-4283-9d00-1b566f07cfec.html" target="element"> Organization Proxy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d5e69d87-15c3-4a9b-9e29-e2239519f4b3.html" target="element"> (all) Get Causes, Events, Conseq. from </a> </td>
																		<td> <a href="../elements/d5e69d87-15c3-4a9b-9e29-e2239519f4b3.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-62b9f4b2-a4e4-467f-80cb-49ed009230d6.html" target="element"> OPERATIONAL RISK - TRANSACTIONAL APPLICATIONS </a> </td>
																		<td> <a href="../elements/id-44c8b7b8-1473-4537-858c-b138bd7219f7.html" target="element"> Risk Library </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f701964e-47c2-4f4b-84eb-9d7b780504f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/f701964e-47c2-4f4b-84eb-9d7b780504f9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-62b9f4b2-a4e4-467f-80cb-49ed009230d6.html" target="element"> OPERATIONAL RISK - TRANSACTIONAL APPLICATIONS </a> </td>
																		<td> <a href="../elements/b04b9b1c-2fb4-4a25-a258-4b8cd3e9bce1.html" target="element"> Risk Assessment Application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-48430b79-5b33-419a-9ddb-af6f220f2b7f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-48430b79-5b33-419a-9ddb-af6f220f2b7f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-62b9f4b2-a4e4-467f-80cb-49ed009230d6.html" target="element"> OPERATIONAL RISK - TRANSACTIONAL APPLICATIONS </a> </td>
																		<td> <a href="../elements/fc453332-48a1-4a78-8920-e0b81400d3e4.html" target="element"> Permanent Control Application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-817a8acd-41c3-4a32-877c-ded4b4b37dc8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-817a8acd-41c3-4a32-877c-ded4b4b37dc8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-62b9f4b2-a4e4-467f-80cb-49ed009230d6.html" target="element"> OPERATIONAL RISK - TRANSACTIONAL APPLICATIONS </a> </td>
																		<td> <a href="../elements/f5267e9e-21da-49fc-b778-15cf35c45ef6.html" target="element"> Historical Incidents Application </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0db8cd95-b5aa-4e96-b5cf-91b1658cba4b.html" target="element"> Get Controls matching the Risk from </a> </td>
																				<td> <a href="../elements/id-0db8cd95-b5aa-4e96-b5cf-91b1658cba4b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/b04b9b1c-2fb4-4a25-a258-4b8cd3e9bce1.html" target="element"> Risk Assessment Application </a> </td>
																				<td> <a href="../elements/fc453332-48a1-4a78-8920-e0b81400d3e4.html" target="element"> Permanent Control Application </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d4c5ade0-0bdb-4051-b714-b5e292473f31.html" target="element"> Gets Incidents matching the Risk from </a> </td>
																				<td> <a href="../elements/d4c5ade0-0bdb-4051-b714-b5e292473f31.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/b04b9b1c-2fb4-4a25-a258-4b8cd3e9bce1.html" target="element"> Risk Assessment Application </a> </td>
																				<td> <a href="../elements/f5267e9e-21da-49fc-b778-15cf35c45ef6.html" target="element"> Historical Incidents Application </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9999ab08-1436-4276-9702-985e1356d718.html" target="element"> Sends Assessments to </a> </td>
																				<td> <a href="../elements/id-9999ab08-1436-4276-9702-985e1356d718.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/b04b9b1c-2fb4-4a25-a258-4b8cd3e9bce1.html" target="element"> Risk Assessment Application </a> </td>
																				<td> <a href="../elements/id-14ea2143-1188-49a1-84d3-f51370a4dc66.html" target="element"> BI &amp; Analytics </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-6b042fb8-ac9c-4c7a-a540-12e59325440e.html" target="element"> Sends Controls Plans &amp; Results to </a> </td>
																				<td> <a href="../elements/id-6b042fb8-ac9c-4c7a-a540-12e59325440e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/fc453332-48a1-4a78-8920-e0b81400d3e4.html" target="element"> Permanent Control Application </a> </td>
																				<td> <a href="../elements/id-14ea2143-1188-49a1-84d3-f51370a4dc66.html" target="element"> BI &amp; Analytics </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-46332911-4a37-43d7-9762-4cbc061160d0.html" target="element"> Sends Incidents to </a> </td>
																				<td> <a href="../elements/id-46332911-4a37-43d7-9762-4cbc061160d0.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/f5267e9e-21da-49fc-b778-15cf35c45ef6.html" target="element"> Historical Incidents Application </a> </td>
																				<td> <a href="../elements/id-14ea2143-1188-49a1-84d3-f51370a4dc66.html" target="element"> BI &amp; Analytics </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-6303fe8d-5e1d-4fc2-bf79-fe20ff8fdc18.html" target="element"> Creates and manages Incidents </a> </td>
																				<td> <a href="../elements/id-6303fe8d-5e1d-4fc2-bf79-fe20ff8fdc18.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/cab77de8-6529-4a83-b3cf-22912e83a745.html" target="element"> First Line of Defence </a> </td>
																				<td> <a href="../elements/f5267e9e-21da-49fc-b778-15cf35c45ef6.html" target="element"> Historical Incidents Application </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-909cdeaa-8008-4c34-a27e-f44273b5bac4.html" target="element"> Extract information and reports from </a> </td>
																				<td> <a href="../elements/id-909cdeaa-8008-4c34-a27e-f44273b5bac4.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/cab77de8-6529-4a83-b3cf-22912e83a745.html" target="element"> First Line of Defence </a> </td>
																				<td> <a href="../elements/id-14ea2143-1188-49a1-84d3-f51370a4dc66.html" target="element"> BI &amp; Analytics </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c74040e1-0d2e-4d75-8b85-1e7e47f3e959.html" target="element"> Defines Control Plan and keep track of their Execution </a> </td>
																				<td> <a href="../elements/c74040e1-0d2e-4d75-8b85-1e7e47f3e959.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/cab77de8-6529-4a83-b3cf-22912e83a745.html" target="element"> First Line of Defence </a> </td>
																				<td> <a href="../elements/fc453332-48a1-4a78-8920-e0b81400d3e4.html" target="element"> Permanent Control Application </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/cb1ae10d-c3d1-4b88-a971-0ca3ba5e4231.html" target="element"> Does a Self-Assessment </a> </td>
																				<td> <a href="../elements/cb1ae10d-c3d1-4b88-a971-0ca3ba5e4231.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/cab77de8-6529-4a83-b3cf-22912e83a745.html" target="element"> First Line of Defence </a> </td>
																				<td> <a href="../elements/b04b9b1c-2fb4-4a25-a258-4b8cd3e9bce1.html" target="element"> Risk Assessment Application </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/e2e6c25f-3d38-4317-8abb-7aa57f173e4c.html" target="element"> Manages List of Processes </a> </td>
																				<td> <a href="../elements/e2e6c25f-3d38-4317-8abb-7aa57f173e4c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/a842d71b-a1e9-40c7-a2ae-9150d2f45a5c.html" target="element"> Second Line of Defence </a> </td>
																				<td> <a href="../elements/id-82c599ba-c29e-47e9-9378-99633a908cb8.html" target="element"> Process Library </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-43d728ce-90af-45a1-8e5a-7cec4f827b98.html" target="element"> Manages Risk Taxonomy </a> </td>
																				<td> <a href="../elements/id-43d728ce-90af-45a1-8e5a-7cec4f827b98.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/a842d71b-a1e9-40c7-a2ae-9150d2f45a5c.html" target="element"> Second Line of Defence </a> </td>
																				<td> <a href="../elements/id-44c8b7b8-1473-4537-858c-b138bd7219f7.html" target="element"> Risk Library </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-21f2ab44-fad2-40f7-8725-5451c4fa5d5a.html" target="element"> Reviews Assessments and Action Plan </a> </td>
																				<td> <a href="../elements/id-21f2ab44-fad2-40f7-8725-5451c4fa5d5a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/a842d71b-a1e9-40c7-a2ae-9150d2f45a5c.html" target="element"> Second Line of Defence </a> </td>
																				<td> <a href="../elements/b04b9b1c-2fb4-4a25-a258-4b8cd3e9bce1.html" target="element"> Risk Assessment Application </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/fff9a155-90f5-4122-b0e2-603725f3e1d8.html" target="element"> Extract information and reports from </a> </td>
																				<td> <a href="../elements/fff9a155-90f5-4122-b0e2-603725f3e1d8.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/a842d71b-a1e9-40c7-a2ae-9150d2f45a5c.html" target="element"> Second Line of Defence </a> </td>
																				<td> <a href="../elements/id-14ea2143-1188-49a1-84d3-f51370a4dc66.html" target="element"> BI &amp; Analytics </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-75ff7fff-46ed-4cca-9b89-b778f884a418.html" target="element"> Manages User Profiles </a> </td>
																				<td> <a href="../elements/id-75ff7fff-46ed-4cca-9b89-b778f884a418.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-074d0f0d-a9fa-4532-8ba9-422727a54d80.html" target="element"> Risk Back Office Administrator </a> </td>
																				<td> <a href="../elements/id-89ad70bf-9a0a-4788-b1c3-74c12d8bd20a.html" target="element"> Accounts &amp; Profiles Management </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>