<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Chapter 04: Controller & Processor</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Chapter 04: Controller &amp; Processor</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f6d887b4a47f4e2cab2b8113c94e83fe.png" alt="Chapter 04: Controller & Processor" usemap="#id-f6d887b4a47f4e2cab2b8113c94e83femap"/>
			   <map name="id-f6d887b4a47f4e2cab2b8113c94e83femap">
				  						<area shape="rect" coords="826,166,1199,221" href="../elements/id-95a182334d614b94bd5f0c6e2f3c1d08.html"  target="element">
				  						<area shape="rect" coords="1030,82,1259,137" href="../elements/id-9dce096a5f2d45cf8c40dffc186b076d.html"  target="element">
				  						<area shape="rect" coords="826,82,1007,137" href="../elements/id-0fdf77748bfa4c4995b0c6e0508469c6.html"  target="element">

				  				<area shape="rect" coords="802,46,1295,239" href="../elements/id-4303f5ab96ea48c69879ca8752d761ed.html"  target="element">
				  						<area shape="rect" coords="694,430,875,485" href="../elements/id-96f1292979aa43989cbd8bb226e2e822.html"  target="element">
				  						<area shape="rect" coords="538,430,671,485" href="../elements/id-caf33fd491674706ad1f9e07a89abd38.html"  target="element">
				  						<area shape="rect" coords="238,430,515,485" href="../elements/id-073fba82c42b4c42a5ef55cd30667827.html"  target="element">
				  						<area shape="rect" coords="58,430,215,485" href="../elements/id-dc9cbcb0f4fc41d6a31648ce0cb175d2.html"  target="element">

				  				<area shape="rect" coords="46,394,899,503" href="../elements/id-df3c68226b204679840ffc1aa2915f72.html"  target="element">
				  						<area shape="rect" coords="1042,298,1271,353" href="../elements/id-d7bb0168f2f34f86a22cb3cba6b95c98.html"  target="element">
				  						<area shape="rect" coords="838,298,1019,353" href="../elements/id-c06b09b5eb18451cbdc2926d99640225.html"  target="element">
				  						<area shape="rect" coords="610,298,815,353" href="../elements/id-4d46e5853a0749afb61ad35a017e3297.html"  target="element">

				  				<area shape="rect" coords="586,262,1295,371" href="../elements/id-2fe4abd60e43473eacdc8a582d659f48.html"  target="element">
				  						<area shape="rect" coords="358,298,527,353" href="../elements/id-6175f157f1a04616bdb6081e6a639628.html"  target="element">
				  						<area shape="rect" coords="70,298,335,353" href="../elements/id-42a6efafce48403ca346b7458c7f6bb1.html"  target="element">

				  				<area shape="rect" coords="46,262,551,371" href="../elements/id-8d000f2c1aae41cd96fdb8ea3689545c.html"  target="element">
				  						<area shape="rect" coords="574,166,755,221" href="../elements/id-8238dfadf2bb4a89b6443a2f7e88fe49.html"  target="element">
				  						<area shape="rect" coords="418,166,551,221" href="../elements/id-8e7e45439eb84c00b0d4db8bdcd23a66.html"  target="element">
				  						<area shape="rect" coords="208,166,401,221" href="../elements/id-e944b3ed716a4ceeb6a26d7fd23cc9b0.html"  target="element">
				  						<area shape="rect" coords="70,166,190,221" href="../elements/id-9edc9fb8ea37450590797fe4d8e1901a.html"  target="element">
				  						<area shape="rect" coords="526,82,767,137" href="../elements/id-7861dd40ce344e27aa964a25a560dcee.html"  target="element">
				  						<area shape="rect" coords="394,82,515,137" href="../elements/id-d9894537af1b4b42b276b65312bb4747.html"  target="element">
				  						<area shape="rect" coords="226,82,371,137" href="../elements/id-89ef11dff426409680f3d0217364b62e.html"  target="element">
				  						<area shape="rect" coords="70,82,203,137" href="../elements/id-0b703de061164a95953ede211fb15cda.html"  target="element">

				  				<area shape="rect" coords="46,46,791,239" href="../elements/id-2514a3a48bcb4840af379cee71e258bd.html"  target="element">

				  		<area shape="rect" coords="10,10,1331,527" href="../elements/id-b3e93d7fbd1b4b3dba4261634c2bb75a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b3e93d7fbd1b4b3dba4261634c2bb75a.html" target="element"> Chapter 4: Controller &amp; Processor </a> </td>
											    <td> <a href="../elements/id-b3e93d7fbd1b4b3dba4261634c2bb75a.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2514a3a48bcb4840af379cee71e258bd.html" target="element"> Section 4.1: General Obligations </a> </td>
													    <td> <a href="../elements/id-2514a3a48bcb4840af379cee71e258bd.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-0b703de061164a95953ede211fb15cda.html" target="element"> Responsibility of the Controller </a> </td>
															    <td> <a href="../elements/id-0b703de061164a95953ede211fb15cda.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-89ef11dff426409680f3d0217364b62e.html" target="element"> Data Protection by Design &amp; by Default </a> </td>
															    <td> <a href="../elements/id-89ef11dff426409680f3d0217364b62e.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d9894537af1b4b42b276b65312bb4747.html" target="element"> Joint Controllers </a> </td>
															    <td> <a href="../elements/id-d9894537af1b4b42b276b65312bb4747.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7861dd40ce344e27aa964a25a560dcee.html" target="element"> Representatives of Controllers or Processors not established in the Union </a> </td>
															    <td> <a href="../elements/id-7861dd40ce344e27aa964a25a560dcee.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9edc9fb8ea37450590797fe4d8e1901a.html" target="element"> Processor </a> </td>
															    <td> <a href="../elements/id-9edc9fb8ea37450590797fe4d8e1901a.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e944b3ed716a4ceeb6a26d7fd23cc9b0.html" target="element"> Processing under the Authority of the Controller or Processor </a> </td>
															    <td> <a href="../elements/id-e944b3ed716a4ceeb6a26d7fd23cc9b0.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-8e7e45439eb84c00b0d4db8bdcd23a66.html" target="element"> Records of Processing Activities </a> </td>
															    <td> <a href="../elements/id-8e7e45439eb84c00b0d4db8bdcd23a66.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-8238dfadf2bb4a89b6443a2f7e88fe49.html" target="element"> Cooperation with the Supervisory Authority </a> </td>
															    <td> <a href="../elements/id-8238dfadf2bb4a89b6443a2f7e88fe49.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-8d000f2c1aae41cd96fdb8ea3689545c.html" target="element"> Section 4.3: Data Protection Impact Assessment &amp; Prior Consultation </a> </td>
													    <td> <a href="../elements/id-8d000f2c1aae41cd96fdb8ea3689545c.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-42a6efafce48403ca346b7458c7f6bb1.html" target="element"> Data Protection Impact Assessment </a> </td>
															    <td> <a href="../elements/id-42a6efafce48403ca346b7458c7f6bb1.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-6175f157f1a04616bdb6081e6a639628.html" target="element"> Prior Consultation </a> </td>
															    <td> <a href="../elements/id-6175f157f1a04616bdb6081e6a639628.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-2fe4abd60e43473eacdc8a582d659f48.html" target="element"> Section 4.4: Data Protection Officer </a> </td>
													    <td> <a href="../elements/id-2fe4abd60e43473eacdc8a582d659f48.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-4d46e5853a0749afb61ad35a017e3297.html" target="element"> Designation of the Data Protection Officer </a> </td>
															    <td> <a href="../elements/id-4d46e5853a0749afb61ad35a017e3297.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c06b09b5eb18451cbdc2926d99640225.html" target="element"> Position of the Data Protection Officer </a> </td>
															    <td> <a href="../elements/id-c06b09b5eb18451cbdc2926d99640225.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d7bb0168f2f34f86a22cb3cba6b95c98.html" target="element"> Tasks of the Data Protection Officer </a> </td>
															    <td> <a href="../elements/id-d7bb0168f2f34f86a22cb3cba6b95c98.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-df3c68226b204679840ffc1aa2915f72.html" target="element"> Section 4.5: Codes of Conduct and Certification </a> </td>
													    <td> <a href="../elements/id-df3c68226b204679840ffc1aa2915f72.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-dc9cbcb0f4fc41d6a31648ce0cb175d2.html" target="element"> Codes Of Conduct </a> </td>
															    <td> <a href="../elements/id-dc9cbcb0f4fc41d6a31648ce0cb175d2.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-073fba82c42b4c42a5ef55cd30667827.html" target="element"> Monitoring of Approved Codes of Conduct </a> </td>
															    <td> <a href="../elements/id-073fba82c42b4c42a5ef55cd30667827.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-caf33fd491674706ad1f9e07a89abd38.html" target="element"> Certification </a> </td>
															    <td> <a href="../elements/id-caf33fd491674706ad1f9e07a89abd38.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-96f1292979aa43989cbd8bb226e2e822.html" target="element"> Certification Bodies </a> </td>
															    <td> <a href="../elements/id-96f1292979aa43989cbd8bb226e2e822.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-4303f5ab96ea48c69879ca8752d761ed.html" target="element"> Section 4.2: Security of Personal Data </a> </td>
													    <td> <a href="../elements/id-4303f5ab96ea48c69879ca8752d761ed.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-0fdf77748bfa4c4995b0c6e0508469c6.html" target="element"> Security of Processing </a> </td>
															    <td> <a href="../elements/id-0fdf77748bfa4c4995b0c6e0508469c6.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9dce096a5f2d45cf8c40dffc186b076d.html" target="element"> Notification of a Personal Data Breach to the Supervisory Authority </a> </td>
															    <td> <a href="../elements/id-9dce096a5f2d45cf8c40dffc186b076d.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-95a182334d614b94bd5f0c6e2f3c1d08.html" target="element"> Communication of a Personal Data Breach to the Data Subject </a> </td>
															    <td> <a href="../elements/id-95a182334d614b94bd5f0c6e2f3c1d08.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-73158c039c784b2fb7ffe0e9e6107361.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73158c039c784b2fb7ffe0e9e6107361.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3e93d7fbd1b4b3dba4261634c2bb75a.html" target="element"> Chapter 4: Controller &amp; Processor </a> </td>
																		<td> <a href="../elements/id-2514a3a48bcb4840af379cee71e258bd.html" target="element"> Section 4.1: General Obligations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6bf7c59856c44637aa3172b70a3360df.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6bf7c59856c44637aa3172b70a3360df.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3e93d7fbd1b4b3dba4261634c2bb75a.html" target="element"> Chapter 4: Controller &amp; Processor </a> </td>
																		<td> <a href="../elements/id-8d000f2c1aae41cd96fdb8ea3689545c.html" target="element"> Section 4.3: Data Protection Impact Assessment &amp; Prior Consultation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cf972cf8db314ceca9f45ddcb057d079.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf972cf8db314ceca9f45ddcb057d079.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3e93d7fbd1b4b3dba4261634c2bb75a.html" target="element"> Chapter 4: Controller &amp; Processor </a> </td>
																		<td> <a href="../elements/id-2fe4abd60e43473eacdc8a582d659f48.html" target="element"> Section 4.4: Data Protection Officer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-db6e2dc7e56a46f292ecd241081eb3cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-db6e2dc7e56a46f292ecd241081eb3cd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3e93d7fbd1b4b3dba4261634c2bb75a.html" target="element"> Chapter 4: Controller &amp; Processor </a> </td>
																		<td> <a href="../elements/id-df3c68226b204679840ffc1aa2915f72.html" target="element"> Section 4.5: Codes of Conduct and Certification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c572181a163c4fa3b06548673ca18808.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c572181a163c4fa3b06548673ca18808.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b3e93d7fbd1b4b3dba4261634c2bb75a.html" target="element"> Chapter 4: Controller &amp; Processor </a> </td>
																		<td> <a href="../elements/id-4303f5ab96ea48c69879ca8752d761ed.html" target="element"> Section 4.2: Security of Personal Data </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-9583dec5a9a14a58b3d284a36a03f120.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9583dec5a9a14a58b3d284a36a03f120.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2514a3a48bcb4840af379cee71e258bd.html" target="element"> Section 4.1: General Obligations </a> </td>
																				<td> <a href="../elements/id-0b703de061164a95953ede211fb15cda.html" target="element"> Responsibility of the Controller </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5c81d51a9b784d4c8f014513dc1c224c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5c81d51a9b784d4c8f014513dc1c224c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2514a3a48bcb4840af379cee71e258bd.html" target="element"> Section 4.1: General Obligations </a> </td>
																				<td> <a href="../elements/id-89ef11dff426409680f3d0217364b62e.html" target="element"> Data Protection by Design &amp; by Default </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-652215fb1fb647aba7e2fdc7ac22a256.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-652215fb1fb647aba7e2fdc7ac22a256.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2514a3a48bcb4840af379cee71e258bd.html" target="element"> Section 4.1: General Obligations </a> </td>
																				<td> <a href="../elements/id-d9894537af1b4b42b276b65312bb4747.html" target="element"> Joint Controllers </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-438dbcca738e40a29a16b7f7016df322.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-438dbcca738e40a29a16b7f7016df322.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2514a3a48bcb4840af379cee71e258bd.html" target="element"> Section 4.1: General Obligations </a> </td>
																				<td> <a href="../elements/id-7861dd40ce344e27aa964a25a560dcee.html" target="element"> Representatives of Controllers or Processors not established in the Union </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-31500249d2c241638516565be87fd085.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-31500249d2c241638516565be87fd085.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2514a3a48bcb4840af379cee71e258bd.html" target="element"> Section 4.1: General Obligations </a> </td>
																				<td> <a href="../elements/id-9edc9fb8ea37450590797fe4d8e1901a.html" target="element"> Processor </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0d22ee81fefb40dda31c8a7f3344288b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0d22ee81fefb40dda31c8a7f3344288b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2514a3a48bcb4840af379cee71e258bd.html" target="element"> Section 4.1: General Obligations </a> </td>
																				<td> <a href="../elements/id-e944b3ed716a4ceeb6a26d7fd23cc9b0.html" target="element"> Processing under the Authority of the Controller or Processor </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-81476ad1a85e4069b43b1279e4a7d463.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-81476ad1a85e4069b43b1279e4a7d463.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2514a3a48bcb4840af379cee71e258bd.html" target="element"> Section 4.1: General Obligations </a> </td>
																				<td> <a href="../elements/id-8e7e45439eb84c00b0d4db8bdcd23a66.html" target="element"> Records of Processing Activities </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-810fbcd4e8184a2c8b69a5728fb4af3f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-810fbcd4e8184a2c8b69a5728fb4af3f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2514a3a48bcb4840af379cee71e258bd.html" target="element"> Section 4.1: General Obligations </a> </td>
																				<td> <a href="../elements/id-8238dfadf2bb4a89b6443a2f7e88fe49.html" target="element"> Cooperation with the Supervisory Authority </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-6a97c95e5efc4fbdb0fe10fe4d506015.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6a97c95e5efc4fbdb0fe10fe4d506015.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8d000f2c1aae41cd96fdb8ea3689545c.html" target="element"> Section 4.3: Data Protection Impact Assessment &amp; Prior Consultation </a> </td>
																				<td> <a href="../elements/id-42a6efafce48403ca346b7458c7f6bb1.html" target="element"> Data Protection Impact Assessment </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-908ef76be6894a10ac9540efc12c7102.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-908ef76be6894a10ac9540efc12c7102.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8d000f2c1aae41cd96fdb8ea3689545c.html" target="element"> Section 4.3: Data Protection Impact Assessment &amp; Prior Consultation </a> </td>
																				<td> <a href="../elements/id-6175f157f1a04616bdb6081e6a639628.html" target="element"> Prior Consultation </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-466aa72a20af41ae9ae465c81c788c6b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-466aa72a20af41ae9ae465c81c788c6b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2fe4abd60e43473eacdc8a582d659f48.html" target="element"> Section 4.4: Data Protection Officer </a> </td>
																				<td> <a href="../elements/id-4d46e5853a0749afb61ad35a017e3297.html" target="element"> Designation of the Data Protection Officer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9012e0ab9d9147b1bbe823664e678782.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9012e0ab9d9147b1bbe823664e678782.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2fe4abd60e43473eacdc8a582d659f48.html" target="element"> Section 4.4: Data Protection Officer </a> </td>
																				<td> <a href="../elements/id-c06b09b5eb18451cbdc2926d99640225.html" target="element"> Position of the Data Protection Officer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-de55ef43a1c440e8a1d5414979aea98f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-de55ef43a1c440e8a1d5414979aea98f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2fe4abd60e43473eacdc8a582d659f48.html" target="element"> Section 4.4: Data Protection Officer </a> </td>
																				<td> <a href="../elements/id-d7bb0168f2f34f86a22cb3cba6b95c98.html" target="element"> Tasks of the Data Protection Officer </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-6c78c3ce47f24cb8917f5fea442bf477.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6c78c3ce47f24cb8917f5fea442bf477.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df3c68226b204679840ffc1aa2915f72.html" target="element"> Section 4.5: Codes of Conduct and Certification </a> </td>
																				<td> <a href="../elements/id-dc9cbcb0f4fc41d6a31648ce0cb175d2.html" target="element"> Codes Of Conduct </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ac4387d57cb44362ac4d7cb630868f29.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ac4387d57cb44362ac4d7cb630868f29.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df3c68226b204679840ffc1aa2915f72.html" target="element"> Section 4.5: Codes of Conduct and Certification </a> </td>
																				<td> <a href="../elements/id-073fba82c42b4c42a5ef55cd30667827.html" target="element"> Monitoring of Approved Codes of Conduct </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ce5b746031384b5aba434797478d5b7f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ce5b746031384b5aba434797478d5b7f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df3c68226b204679840ffc1aa2915f72.html" target="element"> Section 4.5: Codes of Conduct and Certification </a> </td>
																				<td> <a href="../elements/id-caf33fd491674706ad1f9e07a89abd38.html" target="element"> Certification </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bf9824be8a5e408485ec9e39959e6bfb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bf9824be8a5e408485ec9e39959e6bfb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df3c68226b204679840ffc1aa2915f72.html" target="element"> Section 4.5: Codes of Conduct and Certification </a> </td>
																				<td> <a href="../elements/id-96f1292979aa43989cbd8bb226e2e822.html" target="element"> Certification Bodies </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-e8d31d77e5a24ce7894cb3a8fad55cd2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e8d31d77e5a24ce7894cb3a8fad55cd2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4303f5ab96ea48c69879ca8752d761ed.html" target="element"> Section 4.2: Security of Personal Data </a> </td>
																				<td> <a href="../elements/id-0fdf77748bfa4c4995b0c6e0508469c6.html" target="element"> Security of Processing </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d2b058c059db428ba385b3bc50292ebc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d2b058c059db428ba385b3bc50292ebc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4303f5ab96ea48c69879ca8752d761ed.html" target="element"> Section 4.2: Security of Personal Data </a> </td>
																				<td> <a href="../elements/id-9dce096a5f2d45cf8c40dffc186b076d.html" target="element"> Notification of a Personal Data Breach to the Supervisory Authority </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-92f6296f39f849c79f30dc18291feaba.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-92f6296f39f849c79f30dc18291feaba.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4303f5ab96ea48c69879ca8752d761ed.html" target="element"> Section 4.2: Security of Personal Data </a> </td>
																				<td> <a href="../elements/id-95a182334d614b94bd5f0c6e2f3c1d08.html" target="element"> Communication of a Personal Data Breach to the Data Subject </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>